*{
    font-family: 'Advent Pro', sans-serif;
}
body{
    background-color: #FAFAFA;
}
.navbar{
    background-color: #212121 !important;
}
.navbar-toggler-icon{
    background-color: #FAFAFA !important;
    border-radius: 3px !important;
}
.nav-link{
    color: #FAFAFA !important;
    font-weight: 700;
    font-size: 20px;
    margin-right: 40px;
    align-items: center;
}
.navbar-brand{
    margin-left: 50px;
}
#carouselExampleIndicators{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.carousel-item{
    object-fit: fill;
}
.fa-facebook-official, .fa-youtube-play{
    color: #FAFAFA;
    font-size: 20px !important;
    align-items: center !important;
}
.welcome > h4{
    border-bottom: 2px solid #616161;
    width: 40%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.para{
    margin-top: 50px;
    font-weight: 500;
    background-color: #212121;
    color: #FAFAFA;
    padding: 50px 100px;
    text-align: center;
    border-radius: 5px;

}

.inside>img{
    display: inline;
}
.inside-two>img{
    padding-top: 20px;
}
.inside{
    text-align: justify;
    margin: 50px auto;
}
.img-resp{
        display: block;
        margin: 0 auto;
}
.inside-two>h5{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px solid black;
    height: 300px;
    width: 350px;
}

@media (max-width: 768px){
    .inside-two>h5{
        display: flex;
        align-items: flex-start;
        text-align: center;
        margin: auto;
        border-top: 5px solid black;
        margin-top: 20px;
        padding-top: 40px;
        border-left: 0px;
        height: 200px;
        width: 350px;
    }
}

@media only screen and (max-width: 400px){
.para {
    padding: 10px 20px;
}
.welcome > h4 {
    font-size: 15px;
}
.alled {
    margin-right: 0px !important;
}
}
.rating{
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.checked{
    font-size: 25px !important;
    color: #FFFF00;
}
.fa-star{
    font-size: 25px !important;
}

.cust-rev{
    border-bottom: 2px solid #616161;
    width: 40%;
    text-align: center;
    margin:20px auto;
    padding-bottom: 10px;
    font-weight: 700;
}

footer{
    background-color: #212121;
    color: #FAFAFA;
    padding-top: 40px;
}

.footer-content{
    list-style-type: disc;
    padding: 5px;
}

.bold
{
    font-weight: 700;
}

.foot{
    margin-top: 50px;
}

.alled{
    background-color: #FAFAFA;
    color: #212121;
    margin-right: 90px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top:60px;
    text-align: center;
}

.alled>h2{
    margin-top: 20px;
}
